textarea {
    height: 5cm;
    resize: vertical;
  }

body {
  background-color: #E6E6FA;
  font-size: large;
}

.nav-bg-color {
  background-color: #F8F8FF;
}

.main-title {
  color: #708090;
}

.button-color {
  background-color: #FFF0F5;
}

.button-color:hover {
  background-color: rebeccapurple;
  color: wheat;
}

.bar-divs {
  margin-right: 1cm;
  width: 1cm;
  transform: rotateX(180deg);
}

.bar-divs-words {
  width: 1cm;
  margin-top: 5px;
  margin-right: 1cm;
  transform: rotateX(180deg) rotate(70deg);
}

#chart-with-line {
  transform: rotateX(180deg);
}

#diagram {
  background-color: #f4f4ff;
  width: fit-content;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.chart-line {
  height: 2px;
  width: 10cm;
  background-color: black;
}

.bar-header {
  transform: rotateX(180deg);
}